<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="<%= asset_path('lang-logo.png') %>">
    </a>
    <h1>Getting Started with Ruby on Referal Candy</h1>
    <a type="button" class="btn btn-lg btn-default" href="<%= purchases_path %>", target: "_blank"><span class="glyphicon glyphicon-flash"></span>Randomize Referal</a>
  </div>
</div>
<div class="container">
</div>
